server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: /api

spring:
  application:
    name: blog-site-backend
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:6789}/blog-db
    username: ${DB_USERNAME:fsk}
    password: ${DB_PASSWORD:fsk}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true