@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-300;
  }

  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
    @apply bg-slate-50 text-slate-900 duration-200 transition-colors dark:bg-slate-900 dark:text-slate-200;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer utilities {
  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 1s step-end infinite;
  }
}